<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <title>Workshop Details</title>
    </head>
    <body>
        <%- include( 'navbar' ); -%>
        <div class="container my-4">
            <% if( error ) { %>
                <div class = "row">
                <div class = "col-12" v-if = "status === 'ERROR_LOADING'">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <strong><%= error.message %></strong>
                    </div>
                </div>
                </div>
            <% } %>

             <% if( !error ) { %>
                <div class="row">
                    <div class="col-12 clearfix">
                        <div class="row">
                            <h2>
                                <%= workshop.name %>
                            </h2>
                            <hr />
                            <div class="row my-4">
                                <div class="col-4">
                                    <img class="img-fluid" src="<%= workshop.imageUrl %>" alt="<%= workshop.name %>" />
                                </div>
                                <div class="col-8">
                                    <div class="row">
                                        <div class="col-3">
                                            <p>
                                                <small>
                                                    <%= workshop.startDate %> - <%= workshop.endDate %>
                                                </small>
                                            </p>
                                            <p>
                                                <small class="text-muted">
                                                    <%= workshop.time %>
                                                </small>
                                            </p>
                                        </div>
                                        <div class="col-3">
                                            <p> 
                                                <!-- <i class="workshop.modes.online ? 'fa fa-check' : 'fa fa-times'" /> -->
                                                <% if( workshop.modes.online ){ %> 
                                                    <%- "<i class= 'fa fa-check' />" %>
                                                    <!-- <%- "<strong>hello</strong>" %> -->
                                                <% } %>
                                                <% if( !workshop.modes.online ){ %> 
                                                    <%- "<i class= 'fa fa-times' />" %>
                                                    <!-- <%- "<strong>hello</strong>" %> -->
                                                <% } %>
                                                <!-- 'fa-check' or 'fa-times' -->
                                                <small>Online</small>
                                            </p>
                                            <p>
                                                <!-- <i class="workshop.modes.inPerson ? 'fa fa-check' : 'fa fa-times'" /> -->
                                                <!-- 'fa-check' or 'fa-times' -->
                                                <% if( workshop.modes.inPerson ){ %> 
                                                    <%- "<i class= 'fa fa-check' />" %>
                                                    <!-- <%- "<strong>hello</strong>" %> -->
                                                <% } %>
                                                <% if( !workshop.modes.inPerson ){ %> 
                                                    <%- "<i class= 'fa fa-times' />" %>
                                                    <!-- <%- "<strong>hello</strong>" %> -->
                                                <% } %>
                                                <small>In person</small>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <%- workshop.description %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </body>
</html>